/*Main*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
body .container{
  position: relative;
}
body .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-5.jpg);
  opacity: 0.6;
  z-index: -1;
  /* background-repeat: no-repeat; */
}
:root{
  --c0:#C92C6D;
  --c1:#ff9e5e;
  --c2:#419296;
  --c3:#ff7893;
  --footer:#f3f3f3;
  --Nav:#ff9e5e;
}
/*Navbar*/

.navbar div{
  display: flex;
  align-items: center;
}
.navbar .site-title{
  text-decoration: none;
  color: #000;
  font-size: 2em;
}
.site-title span{
  margin-left: 10px;
}
.container{
  width: 100%;
  min-height: 78.5vh;;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
}

.navbar .logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon{
  width: 2.5em;
  cursor: pointer;
  display: none;
}

.navbar nav{
  flex: 1;
  text-align: right;
}

.navbar nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.navbar nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-size: 1.1em;
}

.navbar nav ul li a:hover{
  color: #ff5ea2;
}

@media only screen and (max-width:900px){
  .navbar .site-title{
    font-size: 1.7em;
  }
  .navbar nav ul li a{
    font-size: 14px;
    color: white;
  }
  nav ul{
      width: 100%;
      background-color: var(--c2);
      position: absolute;
      top: 110px;
      right:0;
      z-index: 2;
      /* max-height: 140px; */
  }
  nav ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  nav ul li a{
      color: #fff;

  }

  .menu-icon{
      display: block;
  }

  #menuList{
      overflow: hidden;
      transition: 0.5s;
  }
  .navbar .fa {
    font-size: 2em;
  }

}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 3rem 1.5rem 3rem 1.5rem;
  /* margin-top: 20px; */
  /* width: 100%; */
  align-items: center;
}

.footer .row{
  text-align: center;
  padding: 5px 0;
}
.navbar .fa{
  color: var(--c3);
}
.navbar .fa:hover{
  color: var(--c2);
}
.footer .fa:hover{
  color: var(--c3);
}
.footer .fa {
  font-size: 1.5em;
  padding: 0 10px 0 10px;
  color: var(--c2);
}

/* Home Container*/
.home-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  font-size: 2em;
  padding: 20px;
  border-radius: 5px;
}

/* Home Animation*/

.home-container p {
  border-right: 4px solid;
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(35), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width:900px){
  .home-container{
    top: 50%;
    width: 80%;
    overflow: hidden;
  }
}

.editPassForm input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.editPassForm .buttonWrapper {
  margin-top: 40px;
}
.editPassForm  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .editPassForm .submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

.editPassForm #loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Table */

/*Student Table*/

/*Add Button*/
.add-btn {
  margin-top: 10px;
  text-align: center;
}
.add-btn a{
  text-decoration: none;
    user-select: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
}


.isbok .styled-table .Name li{
 list-style: none;
}
.isbok .styled-table .Name li a{
  text-decoration: none;
}
.isbok .styled-table .book a {
  text-decoration: none;
}
.isbok .styled-table .book:hover,.isbok .styled-table .Name:hover{
  background-color:rgba(201, 44, 109, 0.12);
}
@media only screen and (max-width:900px){

  .mytable{
      /* width: 90%; */
      overflow-x: auto;
  }
  
}
.styled-table .fa{
  color: red;
}

.mytable{
  /* width: 70%; */
  overflow-x: auto;
  /* margin-bottom: 3.7%; */
  /* border: 3px solid #00c37a; */
  padding: 5px;
  margin-top: .2%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align:center;
  width: 100%;
  height: 35px;
  user-select: none;
  overflow-x: scroll;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;

}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
  background-color: #e6e9ed;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

#del{
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
}

.mytable::-webkit-scrollbar {
  width: 10px;
}
.std::-webkit-scrollbar-track {
  background-color: var(--c2);
}
.bok::-webkit-scrollbar-track {
  background-color: var(--c1);
}
.mytable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(255 255 255);
}

.std .styled-table img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.std .image:hover{
  background-color:rgba(65,146,150, 0.12);
}
.std .styled-table th,.std .add-btn a{
  background-color: var(--c2);
  color: white;
}
.bok .styled-table th,.bok .add-btn a{
  background-color: var(--c1);
  color: white;
}

.isbok .styled-table th,.isbok .add-btn a{
  background-color: var(--c0);
  color: white;
}

/* add Book + Student + EditProfile Tables*/
 .Father div{
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addBooksForm label,.addStudentForm label,.editProfileForm label,.editPassForm label, .LoginForm label{
  padding: 20px;
  font-size: 1.2em;
}
.addBooksForm p,.addStudentForm p,.editProfileForm p .editPassForm p{
  align-items: center;
  justify-content: space-between;
}
.addBooksForm p select,input,.addStudentForm p select{
  /* max-width: 100px;
  margin-left: 20px; */
  text-align: center;
}
.addBooksForm,.addStudentForm,.editProfileForm,.editPassForm{
  /* top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); */
  background-color: rgba(255, 255, 255, 0.86);
  padding: 50px;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 4px;
}
.LoginForm{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.86);
  padding: 50px;
  max-width: 400px;
  border-radius: 4px;
}
@media only screen and (max-width:900px){
  .addBooksForm select,.addStudentForm select {
    width: 126px !important;
  }
  .addBooksForm,.addStudentForm,.editProfileForm,.editPassForm{
    padding: 25px;
    margin: 20px auto;
    width: 80%;
    font-size: .8em;
  }
  .LoginForm{
    padding: 25px;
    /* margin: 20px auto; */
    width: 80%;
    font-size: .8em;
  }
}

/* Issue Book Table*/
.IssueABookForm .Father div,h2{
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IssueABookForm label{
  padding: 20px;
  font-size: 1.2em;
}
.IssueABookForm p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.IssueABookForm p select,input{
  /* max-width: 100px;
  margin-left: 20px; */
  text-align: center;
}
.IssueABookForm{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.86);
  padding: 50px;
  border-radius: 4px;
}

td .Valid{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
td .Expired{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

@media only screen and (max-width:900px){
  .IssueABookForm {
    width: 60%;
    font-size: .8em;
  }
  .IssueABookForm select {
    width: 126px !important;
  }
}

/* Profile Container */
.Profile-container {
  max-width: 400px;
  margin: 0 auto;
  /* width: fit-content; */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 25px; */
}
.Profile-container h1 {
  font-size: 36px;
  margin-bottom: 0;
}

.Profile-container h2 {
  font-size: 24px;
  margin-top: 0;
}

.Profile-container img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.Profile-container ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}
.Profile-container .tail{
  display: flex;
}

.Profile-container li {
  margin-bottom: 10px;
}

.Profile-container li span {
  font-weight: bold;
  display: inline-block;
  min-width: 100px;
}

.tail li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.tail li .change{
  background-color: red;
}
.tail li .Edit{
  background-color: var(--c2);
}

/* select */
.IssueABookForm input,.addBooksForm input,.addStudentForm input,.editProfileForm input, .editPassForm input, .LoginForm input{
  width: 170px;
  max-width: 100%;
  overflow-y: auto;
  cursor: pointer;
  padding: 15px 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #444;
  font-size: 18px;
  box-shadow: -3px 3px 5px 0px rgb(0 0 0 / 10%);
  text-align: center;
}
/* type : file*/
input[type=file]{
	background: var(--c2);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	padding: 0.875em;/*14px/16px*/
	text-align: center;
   cursor: pointer;
}
input[type=file]:hover,input[type=file]:active,input[type=file]:focus {
	background: #00a2a4;
  cursor: pointer;
}
.editProfileForm div input#image-clear_id {
  display: none;
}

.Father input[type=submit]{
  cursor: pointer;
  padding: 15px 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #ffffff;
  font-size: 18px;
  box-shadow: -3px 3px 5px 0px rgb(0 0 0 / 10%);
  background-color: var(--c0);
}
.IssueABookForm select,.addBooksForm select,.addStudentForm select{
  width: 170px;
  max-width: 100%;
  overflow-y: auto;
  cursor: pointer;
  padding: 15px 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #444;
  font-size: 18px;
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.10);
  text-align: center;
}
.IssueABookForm select option, .addBooksForm select option,.addStudentForm select option{
  padding: 10px 20px;
  margin-bottom: 8px;
  border-radius: 12px;
  background-color: rgb(238, 238, 238);
  white-space: pre-wrap;
  cursor: pointer;
  text-align: center;
}
.IssueABookForm  select option:hover,.addBooksForm  select option:hover,.addStudentForm  select option:hover{
  background-color: rgb(223, 223, 223);
}
.IssueABookForm select option:checked,.addBooksForm select option:checked,.addStudentForm select option:checked{
  box-shadow: 0 0 10px 100px #595959 inset;
}
.IssueABookForm select::-webkit-scrollbar-track,.addBooksForm select::-webkit-scrollbar-track,.addStudentForm select::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
	border-radius: 12px;
}

.IssueABookForm select::-webkit-scrollbar,.addBooksForm select::-webkit-scrollbar,.addStudentForm select::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.IssueABookForm select::-webkit-scrollbar-thumb,.addBooksForm select::-webkit-scrollbar-thumb,.addStudentForm select::-webkit-scrollbar-thumb
{
	background-color: rgb(225, 225, 225);
	border-radius: 12px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(160, 160, 160, 0.2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(160, 160, 160, 0.2) 50%,
											  rgba(160, 160, 160, 0.2) 75%,
											  transparent 75%,
											  transparent)
}
.IssueABookForm select.fadeIn,.addBooksForm select.fadeIn,.addStudentForm select.fadeIn {
  animation: fadeInDown 0.2s;
}
.IssueABookForm select.fadeOut,.addBooksForm select.fadeOut,.addStudentForm select.fadeOut{
  animation: fadeInUp 0.2s;
}

