/*Main*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
:root{
  --c1:#ff9e5e;
  --c2:#419296;
  --c3:#ff7893;
  --footer:#f3f3f3;
  --Nav:#ff9e5e;
}
/*Navbar*/

.navbar div{
  display: flex;
  align-items: center;
}
.navbar .site-title{
  text-decoration: none;
  color: #000;
  font-size: 2em;
}
.site-title span{
  margin-left: 10px;
}
.container{
  width: 100%;
  min-height: 78.5vh;;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar .logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon{
  width: 20px;
  cursor: pointer;
  display: none;
}

.navbar nav{
  flex: 1;
  text-align: right;
}

.navbar nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.navbar nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-size: 1.1em;
}

.navbar nav ul li a:hover{
  color: #ff5ea2;
}

@media only screen and (max-width:900px){
  .navbar .site-title{
    font-size: 1.7em;
  }
  .navbar nav ul li a{
    font-size: 14px;
    color: white;
  }
  nav ul{
      width: 100%;
      background-color: var(--c2);
      position: absolute;
      top: 110px;
      right:0;
      z-index: 2;
      /* max-height: 140px; */
  }
  nav ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  nav ul li a{
      color: #fff;

  }

  .menu-icon{
      display: block;
  }

  #menuList{
      overflow: hidden;
      transition: 0.5s;
  }
  .navbar .fa {
    font-size: 2em;
  }

}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 3rem 1.5rem 3rem 1.5rem;
  /* margin-top: 20px; */
  /* width: 100%; */
  align-items: center;
}

.footer .row{
  text-align: center;
  padding: 5px 0;
}
.navbar .fa{
  color: var(--c3);
}
.navbar .fa:hover{
  color: var(--c2);
}
.footer .fa:hover{
  color: var(--c3);
}
.footer .fa {
  font-size: 1.5em;
  padding: 0 10px 0 10px;
  color: var(--c2);
}

/* editPassForm */
.editPassForm {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;

  }
  .editPassForm .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
  .editPassForm #signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.editPassForm .formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.editPassForm .inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
.editPassForm  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
.editPassForm input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
.editPassForm input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.editPassForm .buttonWrapper {
  margin-top: 40px;
}
.editPassForm  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .editPassForm .submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

.editPassForm #loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Table */

/*Student Table*/

/*Add Button*/
.add-btn {
  margin-top: 10px;
  text-align: center;
}
.add-btn a{
  text-decoration: none;
    user-select: none;
    color: white;
    background-color: var(--c2);
    padding: 5px;
    border-radius: 3px;
}
@media only screen and (max-width:900px){

  .mytable{
      /* width: 90%; */
      overflow-x: auto;
  }
  
}
.mytable .fa{
  color: red;
}

.mytable{
  /* width: 70%; */
  overflow-x: auto;
  /* margin-bottom: 3.7%; */
  /* border: 3px solid #00c37a; */
  padding: 5px;
  margin-top: .2%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align:center;
  width: 100%;
  height: 35px;
  user-select: none;
  overflow-x: scroll;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th{
  background-color: var(--c2);
  color: white;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;

}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
  background-color: #e6e9ed;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

#del{
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
}

.mytable::-webkit-scrollbar {
  width: 10px;
}
.mytable::-webkit-scrollbar-track {
  background-color: var(--c2);
}
.mytable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(255 255 255);
}

td span {
  color: var(--book3);
  font-weight: 900;
}
