{% extends 'base.html' %}

{% block content %}
    <div class="editPassForm">

          <form action="{% url 'LibraryApp:chnagePass' %}" method="post" name="signupForm" id="signupForm">
                 
          <div class="Father">
            <h2 class="formTitle">
              Change your Password
            </h2>
            {% csrf_token %}     
          <div>
            <label class="inputLabel" for="curr-pass">Current Password</label>
            <input type="password" id="curr-pass" name="curr-pass" required>
          </div>
            
          <div>
            <label class="inputLabel" for="new-pass">New Password</label>
            <input type="password" id="new-pass" name="new-pass" required>
          </div>

          <div>
            <label class="inputLabel" for="confirm-new-pass">Confirm New Password</label>
            <input type="password" name="confirm-new-pass" id="confirm-new-pass" required>
          </div>
          
          <div>
            <input type="submit" value="Continue" id="submitButton" onclick="validateSignupForm()">
          </div>
        </div>    
        </form>

      </div>
{% endblock %}