{% extends 'base.html' %}

{% block content %}
<div class="editProfileForm">
    <form action="{% url 'LibraryApp:editProfile' %}" method="post">
        <div class="Father">
            <h2 class="formTitle">
                Edit Profile
              </h2>
            {% csrf_token %}
            {{form.as_div}}
            <div>
                <label for="id_image">Image:</label>
                <input type="file" name="image" accept="image/*" id="id_image">
            </div>
            <input type="submit" value="Done">
        </div>
    </form>
</div>
{% endblock %}